.landing-section {
    background-color: #38846D;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.landing__logo {
    z-index: 5;
}

.leaves {
    height: 100%;
    position: absolute;
    
}
.leaves--right {
    right: 0;
}
.leaves--left {
    left: 0;
}