@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

:root {
    --bg-brown: #2F2926;
    --bg-white: #ffffff;
    --ff-pt: 'PT Serif'
}

.flex {
    display: flex;
}

.nav-container {
    background-color: #2F2926;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    animation: slideIn 1s forwards;
}

@keyframes slideIn {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

.nav-btn-container {}

.menu-btn-container {
    padding: 1rem;


}

.menu-btn-container {

    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 1rem
}

.menu-btn-container {
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.close-btn {
    border: none;
    height: 20px;
    width: 30px;
    background: #FFF;
    border-radius: 50%;
    padding: 1.5rem;
    background-repeat: no-repeat;
    background-position: center;

    color: black;
    background-size: 50%;
}

.menu-btn {
    width: 14rem;
    border: none;
    background-color: var(--bg-brown);
    color: white;
    font-size: 2rem;
    font-family: var(--ff-pt);
}

.menu-btn.menu-btn:active {
    width: 14rem;
    border: none;
    background-color: var(--bg-brown);
    color: rgb(192, 192, 192);
    font-size: 2rem;
    font-family: var(--ff-pt);
}

.border {
    position: relative;
    width: 3rem;
    height: 1px;
    background-color: var(--bg-white);
    opacity: 20%;
    margin: 0 auto;
    margin: 1rem;
}