.cart-item {
    display: flex;
    justify-content: space-between;
}

.cart-title {
    font-size: 20px;
    font-weight: 700;
    float: left;
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
}

.cart-title:after {
    font-size: .8rem;
    color: #00000040;
    content: " .........................................................................................."
}

.cart-price {
    font-size: 12px;
    font-family: 'Work Sans', sans-serif;
}

.cart-amount {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
    transform: translateY(-6px);
}

.cart-button {
    border: none;
    background: transparent;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;

}