.cart-item {
    display: flex;
    justify-content: space-between;
}

.cart-title {
    font-size: 20px;
    font-weight: 700;
}

.dots {
    flex: 1;
    height: 1.3rem;
    margin: 0 0.2rem;
    background-image: linear-gradient(to right, black 33%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 5px 1px;
    background-repeat: repeat-x;

}

.cart-price {
    font-size: 12px;
    font-family: 'Work Sans', sans-serif;
}

.cart-amount {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
    transform: translateY(-6px);
}

.cart-button {
    border: none;
    background: transparent;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;

}