.nav {
    display: flex;
    justify-content: space-between;
    background: transparent;
    width: 100%;
}

.nav-btn {
    height: 20px;
    width: 30px;
    background: #FFF;
    border-radius: 50%;
    padding: 1.5rem;
    background-repeat: no-repeat;
    background-position: center;
}

.cart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.466);
    width: 100%;
    height: 100%;
}

.cart {
    border: none;
    background: #2F2926;
    border-radius: 50%;
    padding: 1rem;
    position: relative;
    z-index: 1;
    width: 55px;
    height: 55px;
}

.cart-counter {
    position: absolute;
    top: -2px;
    right: -2px;
    background: #E5674E;
    border-radius: 50%;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: 700;
    color: #FFF;
}

.cart-headline {
    margin-bottom: 2rem;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.cart-list {
    position: absolute;
    top: 4.5rem;
    right: 1.2rem;
    width: 90%;
    height: 90%;
    border-radius: 5px;
    background: #FFF;
    padding: 2rem 1.5rem;
    z-index: 2;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
}

.cart-items {
    margin-bottom: auto;
}

.cart-list::after {
    content: '';
    position: absolute;
    top: -0.6rem;
    right: 0.6rem;
    width: 0;
    height: 0;
    background: transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #FFF;
}

.cart-price {
    margin-bottom: 2rem;
}

.cart-price h2 {
    font-size: 24px;
}

.cart-price p {
    font-size: 12px;
    font-family: 'Work Sans', sans-serif;
}

.cart-discount {
    display: flex;
    gap: 1rem;
}

.button-cart {
    align-self: center;
    border: none;
    color: #FFF;
    background: #2F2926;
    font-size: 24px;
    font-weight: 700;
    padding: 1rem 2rem;
    border-radius: 50px;
}