.menu-item {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.menu-item article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.add-button {
    width: 35px;
    height: 35px;
    border: none;
    background: #000;
    color: #FFF;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}

.product-title {
    font-size: 20px;
    font-weight: 700;
}

.product-desc {
    font-size: 12px;
}

.menu-item p {
    margin: 0;
}