.menu-item {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.menu-item article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.add-button {
    width: 45px;
    max-height: 32px;
    aspect-ratio: 1;
    border: none;
    background: #000;
    color: #FFF;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    padding: 0;
    margin-top: 6px;
}

.product-title {
    font-size: 20px;
    font-weight: 700;
}

.product-desc {
    font-size: 12px;
    font-family: 'Work Sans', sans-serif;
}

.menu-item p {
    margin: 0;
}

.product-price {
    font-size: 24px;
    font-weight: 700;
}